*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 14px;
    font-family: 'Bevan';
    color: #747474; 
}

body { 
    background-color:#333
    
}
 


.nav-list {
    background-color: #272727;
    overflow: hidden;
  }

.nav-list ul {        
    list-style-type: none;  
    list-style: none;
   text-align: center; 
}


.nav-list ul li a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    margin-left: 15%;
    
    font-size: 20px;
  }
  
  .avatar {
      border-radius: 50%;
      overflow: hidden;
  }
  
  .nav-list ul li a:hover {
    background-color: #ddd;
    color: black;
    -webkit-text-stroke: 1px;
   
  }
  

  .nav-list ul li a.active {
    background-color: #4CAF50;
    color: white;
  }  
  
  .nav-list ul li.icon {
    display: none;
  }


